{% extends "core/base.html" %}
{% load static %}

{% block title %}Biblioteca{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "/css/index.css" %}">
    <link rel="stylesheet" href="{% static "/css/biblioteca.css" %}">
    <link rel="stylesheet" href="{% static "/css/layout/textos.css" %}">
    <script src="https://kit.fontawesome.com/3e470c9a7d.js" crossorigin="anonymous"></script>
{% endblock extra_css %}

{% block content %}
<h2 class="txt_principal">Biblioteca</h2>
<div class="container">
    <div class="filters">
        <h3>Búsqueda y filtros</h3>
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar por título" value="{{ request.GET.q }}">
        </div>

        <div class="materia-filter">
            <h4>Materia</h4>
            <div class="materia-listado">
                {% for materia in materias %}
                <label for="materia1">
                    <input type="checkbox" name="{{materia.nombre}}">
                    <p>{{materia.nombre}}</p>
                </label>
                {% endfor %}
            </div>
        </div>

        <div class="autor-filter">
            <h4>Autor</h4>
            <div class="autor-listado">
                {% for autor in autores %}
                <label for="{{autor}}">
                    <input type="checkbox" name="{{autor}}">
                    <p>{{autor}}</p>
                </label>
                {% endfor %}
                <!-- Agregar más autores según sea necesario -->
            </div>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Materia</th>
                <th>Editorial</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí iría un loop para generar dinámicamente los libros -->
            {% for libro in libros %}
            <tr>
                <td class="titulo">{{libro.title}}</td>
                <td class="autor">{{libro.author}}</td>
                <td class="materia">{{libro.materia}}</td>
                <td class="editorial">{{libro.publisher}}</td>
                <td class="isbn">{{libro.isbn}}</td>
            </tr>
            {% endfor %}
            <!-- Agregar más libros según sea necesario -->
        </tbody>
    </table>
</div>
{% endblock content %}
