body{
    background-color: white;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.filters{
    width: 18%;
}

table{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    width: 60%;
    margin-bottom: 10vh;
    border-collapse: collapse;
}
table thead{
    background-color: #1F2C89;
}
th{
    padding: 12px;
    width: fit-content;
    color: white;
    font-weight: 400;
}
td{   
    padding: 10px 20px;
}
.titulo{
    font-weight: bold;
    border-bottom: 1px solid #585858;
}
.isbn{
    border-bottom: 1px solid #585858;
}
.autor, .materia, .editorial{
    border: 1px solid #585858;
}


/* filtros */
.search-box{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    width: 100%;
    border: 1px solid #E2E8F0;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.search-box input{
    padding: 10px 5px;
    border: none;
    margin-left: 5px;
    width: 95%;
}

.search-box input:focus{
    outline: none;
    border: none;
}
.search-box i{
    margin: auto auto auto 10px;
    width: 5%;
    color: rgba(0, 0, 0, 0.5);
}


/* filtros - materias */
.materia-filter, .autor-filter{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    width: 100%;
    border: 1px solid #e2e8f0;
    margin-top: 20px;
}
.materia-filter h4, .autor-filter h4{
    border-bottom: 1px solid #E2E8F0;
    padding: 15px 20px;
}
.materia-filter label, .autor-filter label{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}
.materia-filter label p, .autor-filter label p{
    margin: auto 5px;
}
.materia-filter label input, .autor-filter label input{
    width: 1rem;
}
.materia-listado, .autor-listado{
    margin: 20px 20px;
}

/* filtros - autor */